*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  width: 50%;
  margin: 40px auto;
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  padding: 10px;
}

.film-title {
  margin:0;
  padding: 0;
}

.film-poster {
  position: relative;
}

.fa {
  color: red;
}

.film-details {
  position: relative;
}

.action-like {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.action-watch-later {
  position: absolute;
  top: 8px;
  right: 8px;
}
